################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CTSearch
bin/
obj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# dotenv environment variables file
.env

# Others
~$*
*~
CodeCoverage/

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Visual Studio 2015
.vs/
/CTSearch.Cons/bin/Debug/net8.0/CTSearch.cons.dll
/CTSearch.Cons/bin/Debug/net8.0/CTSearch.cons.exe
/CTSearch.Cons/bin/Debug/net8.0/CTSearch.cons.pdb
/CTSearch.Cons/bin/Debug/net8.0/CTSearch.library.dll
/CTSearch.Cons/bin/Debug/net8.0/CTSearch.library.pdb
/CTSearch.Library/bin/Debug/net8.0/CTSearch.library.dll
/CTSearch.Library/bin/Debug/net8.0/CTSearch.library.pdb
