.navbar-toggler[b-rugdo2e3hh] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.16);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.78%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.12);
}

.navbar-toggler:checked[b-rugdo2e3hh] {
    background-color: rgba(186, 12, 47, 0.35);
}

.top-row[b-rugdo2e3hh] {
    height: 3.5rem;
    background-color: rgba(255, 255, 255, 0.03);
}

.navbar-brand[b-rugdo2e3hh] {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.bi[b-rugdo2e3hh] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-search-heart-fill-nav-menu[b-rugdo2e3hh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 0a6.5 6.5 0 1 0 3.917 11.69l3.446 3.447a1 1 0 0 0 1.414-1.414l-3.447-3.446A6.5 6.5 0 0 0 6.5 0m0 1a5.5 5.5 0 1 1 0 11a5.5 5.5 0 0 1 0-11'/%3E%3Cpath d='m8 5.748-.717-.737C5.6 3.281 2.514 5.878 4.221 8.11L8 12l3.779-3.89c1.707-2.232-1.379-4.829-3.062-3.099z'/%3E%3C/svg%3E");
}

.nav-item[b-rugdo2e3hh] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-rugdo2e3hh] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-rugdo2e3hh] {
        padding-bottom: 1rem;
    }

    .nav-item[b-rugdo2e3hh]  .nav-link {
        color: var(--osu-gray-light-40);
        background: none;
        border: none;
        border-radius: 0.75rem;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-rugdo2e3hh]  a.active {
    background-color: rgba(186, 12, 47, 0.88);
    color: var(--osu-white);
}

.nav-item[b-rugdo2e3hh]  .nav-link:hover {
    background-color: rgba(255,255,255,0.08);
    color: var(--osu-white);
}

.nav-scrollable[b-rugdo2e3hh] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-rugdo2e3hh] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-rugdo2e3hh] {
        display: none;
    }

    .nav-scrollable[b-rugdo2e3hh] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
